.title {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    /* padding-bottom: 0px; */
    /* padding-top: 10px; */
    margin: 20px 20px 0px 20px;
    color: #0000FF;
}

body {
  color: #795548;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.headshot {
  max-width: 30em;
  min-width: 10em;
}

.main {
  margin:auto;
  max-width: 40em;
}

a {
  font-family: 'Roboto', sans-serif;
}

.bestLink {
    font-weight: bold;
}
