
<div class="content">
  <form action="/articles/new" method="post">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" value="<%= @title %>" required>
  <br />
    <label for="description">Description: </label>
    <input type="text" id="description" name="description" value="<%= @description %>" required>
  <br />
    <label for="url">url: </label>
    <input type="text" id="url" name="url" value="<%= @url %>" required>
  <br />
  <p class="error_message"><%= @error %></p>
    <input type="submit">
  </form>
</div>
