<h1>"Welcome One and All to the Magical Creatures Website!"</h1>
<p>
  This website is a place to learn a lot about magical creatures. We used to include non-magical creatures, but a DCMA request from disney shut that section down. For non-magical creatures we recommend a google search.
</p>
<img src="https://img.playbuzz.com/image/upload/ar_1.5,c_crop/q_auto:good,f_auto,fl_lossy,w_640,c_limit/v1544243098/gegb1lqjndhulzh0dlmg.jpg">
