
<% require 'csv' %>


<% articles = CSV.readlines('articles.csv', headers: true) %>

<% articles.each do |article| %>
  <h1><%= article["title"] %></h1>
  <p><%= article["description"] %></p>
  <a href="http://<%= article["url"] %>" target="_blank"><%= article["url"] %> </a>


<% end %>
